{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}

    {% for category, message in messages %}
    <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
        <span> {{ message }} </span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}

    {% endif %}
    {% endwith %}
</div>
<div class="container">
    <h2>The challenge</h2>
    <p>
        If you have two sentences, there are three ways they could be related: one could entail the other, one could
        contradict the other, or they could be unrelated. <b>Natural Language Inference (NLI)</b> is a popular NLP
        problem that involves determining how pairs of sentences (consisting of a premise and a hypothesis) are related.
        <br>
    </p>
    <p>
        Your task is to create an NLI model that <b>assigns labels of 0, 1, or 2 (corresponding to entailment, neutral,
            and contradiction)</b> to pairs of <b>premises and hypotheses.</b> To make things more interesting, the
        train and test set include text in fifteen different languages!
    </p>
    <p>For more details: <a href="https://www.kaggle.com/competitions/contradictory-my-dear-watson/overview">Kaggle</a>
        | Source code: <a href="https://github.com/vnk8071/nli-end-to-end">Github</a></p>
</div>
<div class="content-row">
    <div class="content-column">
        <div class="div-form">
            <form method=post enctype=multipart/form-data>
                <center>
                    <h3>Premise</h3>
                    <input name="premise" type="text" size="70" placeholder="Type the premise"><br>
                    <h3>Hypothesis</h3>
                    <input name="hypothesis" type="text" size="70" placeholder="Type the hypothesis"><br>
                    <br>
                    <label for="model">Choose model to predict: </label>
                    <select name="model" id="model">
                        <option value="BERT" selected> BERT</option>
                        <option value="RoBERTa">RoBERTa</option>
                    </select><br>
                    <br>
                    <button class="btn btn-outline-primary btn-block" type="submit" style="width: 50%;"
                        onclick="progress()">Predict</button>
                </center>
            </form>
        </div>
    </div>
    <div class="content-column">
        <h3>Example:</h3>
        <img src="static/images/sample.png">
    </div>
</div>
<div class="progress">
    <div id="dynamic" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
        <span id="current-progress"></span>
    </div>
</div>
<script type="text/javascript">
    function progress() {
        document.getElementById('dynamic');
        var current_progress = 0;
        var interval = setInterval(function () {
            current_progress += 100;
            $("#dynamic")
                .css("width", current_progress + "%")
                .attr("aria-valuenow", current_progress)
                .text("Please wait a minute");
            if (current_progress >= 100)
                clearInterval(interval);
        }, 3000);
    }
</script>
{% endblock %}