{% extends 'base.html' %}

{% block content %}
<div class="content-row">
    <div class="content-column">
        <img src="static/images/roberta.PNG">
    </div>
    <div class="content-column">
        <h2>Input Premise and Hypothesis</h2>
        <p>Original premise: {{premise}}</p>
        <p>Original hypothesis: {{hypothesis}}</p>
        <h3>English translation and Cleaning text</h3>
        <p>Premise: {{premise_cl}}</p>
        <p>Hypothesis: {{hypothesis_cl}}</p>
        <hr>
        <h3>Special token</h3>
        <p>Decoder: {{decoded}}</p>
        <hr>
        <h3>Set up input for RoBERTa model</h3>
        <p>Token ids: {{index}}</p>
        <p>Input mask: {{mask}}</p>
        <hr>
        <h3>Classifier of RoBERTa model</h3>
        <p>Probability: {{prob}}</p>
        <p>Prediction: {{pred}}</p>
    </div>
</div>
<hr>
<center>
    <a href="{{ url_for('index') }}"><button class="btn btn-outline-primary btn-block" style="width: 50%;">Next
            predict</button></a>
</center>
{% endblock %}